/*全局input*/
.forminput{
	border: 1px solid #c5add7;
	height: 26px;
	width: 158px;
	padding: 0 5px;
}
.forminput1{
	border: 1px solid #c5add7;
	height: 26px;
	width: 50px;
	padding: 0 5px;
}
.th-left{
	text-align: left;
}
.table-addform{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	display: none;
	padding: 15px 0 0 25px;
}
.table-addform .row{
	padding: 30px 0;
	border-bottom: 1px solid #edeaf1;
}
.table-addform li{
	margin: 10px 0;
	display: inline-flex;
}
.table-addform li span{
	min-width: 105px;
	display: inline-block;
}
.table-addform .text-center .confirm{
	margin: 0 18px;
	width: 110px;
}
.text-center #confirm{
	background: #5c307d;
	color: #fff;
	border: none;
}
.row ul{
	padding-left: 27px;
}
.a-show{
	animation: show 300ms linear;
	-webkit-animation: show 300ms linear;
}
.a-hide{
	animation: hide 300ms linear;
	-webkit-animation: hide 300ms linear;
}
@keyframes show{
	from{transform: scale(0);opacity: 0;}
	to{transform: scale(1);opacity: 1;}
}
@-webkit-keyframes show{
	from{-webkit-transform: scale(0);-webkit-opacity: 0;}
	to{-webkit-transform: scale(1);-webkit-opacity: 1;}
}
@keyframes hide{
	from{transform: scale(1);opacity: 1;}
	to{transform: scale(0);opacity: 0;}
}
@-webkit-keyframes hide{
	from{-webkit-transform: scale(1);-webkit-opacity: 1;}
	to{-webkit-transform: scale(0);-webkit-opacity: 0;}
}